{% extends 'base.html' %}

{% load socialaccount %}


{% block content %}
    {% include 'components/header.html' %}
    {% if user.is_authenticated %}
        {% if membership %}
            <p>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</p>
            <p>Спасибо, что вы делаете для школы</p>

            <br>

            <a href="{% url 'voting_list' %}">Голосования</a>

            <br>

            <a href="{% url 'meeting_list' %}">Заседания</a>

            <br>

            <a href="{% url 'account_logout' %}">Выйти</a>
        {% else %}
            <a href="">Уважаемый конгрессмен! Быть не подписанным на группу Парламента  - вам должно быть стыдно!</a>
        {% endif %}
    {% else %}
        {% url 'index' %}

    {% endif %}

{% endblock %}