{% extends 'base.html' %}

{% load socialaccount %}


{% block content %}
    {% if user.is_authenticated %}
        {% if membership %}
            <p class="title">Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</p>
            <main id="welcome">

                                <div class="write-image"></div>
                 <a href="{{ link }}" class="write-parlament-link">Написать в Парламент</a>


                <main id="write">
                    <div class="info">
                        <a href="{% url 'voting_list' %}" class="title">Голосования</a>
                    </div>
                </main>

                <main id="write">
                    <div class="info">
                        <a href="{% url 'meeting_list' %}" class="title">Заседания</a>
                    </div>
                </main>

                <a href="{% url 'account_logout' %}" class="write-link">Выйти</a>
            </main>
        {% else %}
            <a href="">Уважаемый конгрессмен! Быть не подписанным на группу Парламента - вам должно быть стыдно!</a>
        {% endif %}
    {% else %}
        {% url 'index' %}

    {% endif %}

{% endblock %}