{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'meeting_list' %}">
    {% csrf_token %}
    <button type="submit">К списку заседаний</button>
</form>


    <div>
        <p>Заседание от {{ meeting }}</p>
        <p>Повестка:</p>
        {% if agendas %}
        {% for agenda in agendas %}
            {% if user.is_congressman or not agenda.is_hidden %}

            {{ agenda|linebreaksbr }}
                <br>

            {% endif %}
        {% endfor %}
        {% else %}
        <p>Повестка недоступна</p>
        {% endif %}

    </div>
{% endblock %}