{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}
    {% if user.is_authenticated %}
        {% if membership %}
        <p class="title">Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</p>
        <main id="welcome">
            <!-- <main id="write"> -->
                <div class="write-image"></div>
                 <a href="{{ link }}" class="write-parlament-link">Написать в Парламент</a>
            <!-- </main> -->

            <main id="write">
                <div class="info">
                    <a href="{% url 'voting_list' %}" class="title">Опросы</a>
                </div>
            </main>

            <main id="write">
                <div class="info">
                    <a href="{% url 'meeting_list' %}" class="title">Заседания</a>
                </div>
            </main>

            <a href="{% url 'account_logout' %}" class="write-link">Выйти</a>
        </main>
        {% else %}
            <p>Вы не подписаны на нашу группу в ВКонтакте. Подпишитесь и повторите попытку входа <br> {{ user.id }} а еще {{ vk }}</p>
        {% endif %}
    {% else %}
        <a class="signin-link" href="{% provider_login_url 'vk' %}">Авторизоваться</a>

    {% endif %}

{% endblock %}