{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}
    {% include 'components/header.html' %}
    {% if user.is_authenticated %}
        {% if membership %}
            <p>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</p>

            <a href="">
                <button class="btn btn-primary">Написать Парламенту</button>
            </a>
            <br>

            <a href="#">Опросы</a>

            <br>

            <a href="{% url 'meeting_list' %}">Заседания</a>

            <a href="{% url 'account_logout' %}">Выйти</a>
        {% else %}
            <a href="">Выйди и звйии нормапльно в группу, дебил. {{ user.id }} а еще {{ vk }}</a>
        {% endif %}
    {% else %}
        <a href="{% provider_login_url 'vk' %}">Авторизоваться</a>

    {% endif %}

{% endblock %}